{% load static i18n get_attribute replace_value %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<ul class="pb-2 space-y-2">
    <li>
        <form action="#" method="GET" class="lg:hidden">
            <label for="mobile-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
                <input type="text" name="email" id="mobile-search"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Global search">
            </div>
        </form>
    </li>
    <div class="flex justify-end">
        <button id="sidebar-collapse" data-tooltip-target="tooltip-sidebar" type="button" data-tooltip-placement="right"
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
            <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div id="tooltip-sidebar" role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
            Toggle sidebar
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
    </div>

    {% for parent_qs, children in sidebar_dict.items %}
            
        {% if not children and parent_qs.url_name|url_has_pattern %}
        <li>
            <div class="sidebar-full flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700 {% if parent_qs.segment == segment %} bg-gray-100 dark:bg-gray-700 {% endif %}">
                <a href="{% if parent_qs.url_name %} {% url parent_qs.url_name %} {% else %} # {% endif %}"
                    class="flex items-center w-full {% if  parent_qs.name|length > 20 %} text-sm {% else %} text-base {% endif %} text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
                    aria-controls="dropdown-dashboard" data-collapse-toggle="dropdown-dashboard"
                >
                    {% if parent_qs.icon %}
                        {{ parent_qs.icon|safe }}
                    {% else %}
                        <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path>
                        </svg>
                    {% endif %}
                    <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>{{ parent_qs.name|replace_value:"_" }}</span>
                </a>
                <svg data-modal-target="{{ parent_qs.name }}-{{ parent_qs.id }}" data-modal-toggle="{{ parent_qs.name }}-{{ parent_qs.id }}" class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
            </div>
            
            <div class="collapsed-icon hidden flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700 {% if parent_qs.segment == segment %} bg-gray-100 dark:bg-gray-700 {% endif %}">
                <a href="{% if parent_qs.url_name %} {% url parent_qs.url_name %} {% else %} # {% endif %}"
                    class="flex items-center w-full text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">
                    <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                        <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                    </svg>
                </a>
            </div>                               
        <li>
        {% else %}
        <li>
            <button type="button" class="sidebar-full flex items-center w-full p-1 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 {% if parent_qs.segment in parent %} bg-gray-100 dark:bg-gray-700 {% endif %}" aria-controls="dropdown-item-{{ parent_qs.id }}" data-collapse-toggle="dropdown-item-{{ parent_qs.id }}">
                <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path>
                </svg>
                <span class="flex-1 ml-3 text-left" sidebar-toggle-item>{{ parent_qs.name|replace_value:"_" }}</span>
                <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            <button type="button" class="collapsed-icon hidden flex items-center justify-center w-full p-1 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 {% if parent_qs.segment in parent %} bg-gray-100 dark:bg-gray-700 {% endif %}" aria-controls="dropdown-item-{{ parent_qs.id }}" data-collapse-toggle="dropdown-item-{{ parent_qs.id }}">
                <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path>
                </svg>
            </button>

            <ul id="dropdown-item-{{ parent_qs.id }}" class="py-1 space-y-1 {% if parent_qs.segment == parent %}block {% else %} hidden{% endif %}">                           
                {% for child in children %}
                    {% if child.url_name|url_has_pattern %}
                    <li>
                        <div class="sidebar-full flex items-center justify-between p-1 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 {% if child.segment == segment %} bg-gray-100 dark:bg-gray-700 {% endif %}">
                            <a href="{% if child.url_name %} {% url child.url_name %} {% else %} # {% endif %}"
                                class="block flex items-center {% if  child.name|length > 20 %} text-sm {% else %} text-base {% endif %} text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">{{ child.name|replace_value:"_" }}</a>
                            <span class="block">
                                <svg data-modal-target="{{ child.name }}-{{ child.id }}" data-modal-toggle="{{ child.name }}-{{ child.id }}" class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                            </span>
                        </div>
                        <div class="collapsed-icon hidden flex items-center justify-center p-1 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 {% if child.segment == segment %} bg-gray-100 dark:bg-gray-700 {% endif %}">
                            <a href="{% if child.url_name %} {% url child.url_name %} {% else %} # {% endif %}"
                                class="flex items-center text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">ADD</a>
                        </div>
                    </li>  
                    {% elif child.dynamic_url %}
                    <li>
                        <div class="sidebar-full flex items-center justify-between p-1 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 {% if child.segment == segment %} bg-gray-100 dark:bg-gray-700 {% endif %}">
                            <a href="{% if child.dynamic_url %} {{ child.dynamic_url }} {% else %} # {% endif %}"
                                class="block flex items-center {% if  child.name|length > 20 %} text-sm {% else %} text-base {% endif %} text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">{{ child.name|replace_value:"_" }}</a>
                            <span class="block">
                                <svg data-modal-target="{{ child.name }}-{{ child.id }}" data-modal-toggle="{{ child.name }}-{{ child.id }}" class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                            </span>
                        </div>
                        <div class="collapsed-icon hidden flex items-center justify-center p-1 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 {% if child.segment == segment %} bg-gray-100 dark:bg-gray-700 {% endif %}">
                            <a href="{% if child.dynamic_url %} {{ child.dynamic_url }} {% else %} # {% endif %}"
                                class="flex items-center text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700">ADD</a>
                        </div>
                    </li>  
                    {% endif %}
                {% endfor %}                                                                    
            </ul>
        </li>
        {% endif %}

    {% endfor %}
</ul>